<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Learnerscloud.IEvaluator.English500"
    android:versionCode="4"
    android:versionName="4.0" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17"/>
    <supports-screens
        android:smallScreens="false"
        android:normalScreens="true"
        android:largeScreens="true"/>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name"  android:name="com.Learnerscloud.IEvaluator.English500.LocalCache">
        <activity android:name=".Splash"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity android:name=".Main"
                  android:label="@string/app_name" android:exported="false">
            <intent-filter>
                <action android:name="com.Learnerscloud.IEvaluator.English500.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".MultipleChoiceSingleAnswer"
                  android:label="@string/app_name" android:exported="false">
            <intent-filter>
                <action android:name="com.Learnerscloud.IEvaluator.English500.MULTIPLECHOICESINGLEANSWER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MultipleChoiceMultipleAnswer"
                  android:label="@string/app_name" android:exported="false">
            <intent-filter>
                <action android:name="com.Learnerscloud.IEvaluator.English500.MULTIPLECHOICEMULTIPLEANSWER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DescriptiveTypeQuestion"
                  android:label="@string/app_name" android:exported="false">
            <intent-filter>
                <action android:name="com.Learnerscloud.IEvaluator.English500.DESCRIPTIVETYPEQUESTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FillTheBlanks"
                  android:label="@string/app_name" android:windowSoftInputMode="adjustResize" android:exported="false">
            <intent-filter>
                <action android:name="com.Learnerscloud.IEvaluator.English500.FILLTHEBLANKS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".YesNo"
                  android:label="@string/app_name" android:exported="false">
            <intent-filter>
                <action android:name="com.Learnerscloud.IEvaluator.English500.YESNO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TrueFalse"
                  android:label="@string/app_name" android:exported="false">
            <intent-filter>
                <action android:name="com.Learnerscloud.IEvaluator.English500.TRUEFALSE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Result"
                  android:label="@string/app_name" android:exported="false">
            <intent-filter>
                <action android:name="com.Learnerscloud.IEvaluator.English500.RESULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Help"
                  android:label="@string/app_name" android:exported="false">
            <intent-filter>
                <action android:name="com.Learnerscloud.IEvaluator.English500.HELP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Aboutus"
                  android:label="@string/app_name" android:exported="false">
            <intent-filter>
                <action android:name="com.Learnerscloud.IEvaluator.English500.ABOUTUS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Video"
                  android:label="@string/app_name" android:exported="false">
            <intent-filter>
                <action android:name="com.Learnerscloud.IEvaluator.English500.VIDEO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".VideoPlayer"
                  
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:exported="false">
            <intent-filter>
                <action android:name="com.Learnerscloud.IEvaluator.English500.VIDEOPLAYER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".Customise"
                  android:label="@string/app_name" android:exported="false">
            <intent-filter>
                <action android:name="com.Learnerscloud.IEvaluator.English500.CUSTOMISE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Questions"
                  android:label="@string/app_name" android:exported="false">
            <intent-filter>
                <action android:name="com.Learnerscloud.IEvaluator.English500.QUESTIONS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Configure"
                  android:label="@string/app_name" android:exported="false">
            <intent-filter>
                <action android:name="com.Learnerscloud.IEvaluator.English500.CONFIGURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TabGroup5"
                  android:label="@string/app_name" android:exported="false">
            <intent-filter>
                <action android:name="com.Learnerscloud.IEvaluator.English500.TABGROUP5" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TabGroup1"
                  android:label="@string/app_name" android:exported="false">
            <intent-filter>
                <action android:name="com.Learnerscloud.IEvaluator.English500.TABGROUP1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TabGroup2"
                  android:label="@string/app_name" android:exported="false">
            <intent-filter>
                <action android:name="com.Learnerscloud.IEvaluator.English500.TABGROUP2" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         
 <activity android:name="com.Learnerscloud.IEvaluator.English500.Tabs"
                  android:label="@string/app_name" android:exported="false" >
            <intent-filter>
                <action android:name="com.Learnerscloud.IEvaluator.English500.TABS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

    
</manifest>